{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
<div class="col-sm-4">

</div>
<div class="col-sm-4">
<a style="color:white;" href="{{ url_for("homepage") }}">Home</a><br>
<h1 style="text-align:center;">{{ category.name }}</h1>
<a style="color:white;" href=" {{ url_for("addItem",name=category.name) }} ">Add a new item To {{ category.name }}</a>

  <div class="list-group">
  {% for i in items %}
    <a href="{{ url_for("ShowItem", name=category.name, title=i.title) }}" class="list-group-item">{{ i.title }}</a>
    {% endfor %}
  </div>

  <br> <a style="color:white;" href="{{ url_for("deleteCategory",name=category.name) }}">Delete {{ category.name }}</a>
  <br> <a style="color:white;" href="{{ url_for("editCategory", name=category.name) }}">Edit {{ category.name }}</a>
</div>
<div class="col-sm-4">
</div>
</div>
{% endblock %}
