{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
 <div class="col-sm-4">
 </div>
 <div class="col-sm-4">
   <a style="color:white;" href=" {{url_for("showCategoryItems",name=category.name)}} ">Back to {{ category.name }}</a>
   <div class="card panel-default">
     <div class="card-header">{{ item.title }}</div>
     <div class="card-body">{{ item.description }}</div>
     {% if current_user.is_authenticated %}
       <div class="card-footer text-center">
       <a href="{{ url_for("editItem", name=category.name, title=item.title) }}">Edit Item</a>
       <a href="{{ url_for("deleteItem", name=category.name, title=item.title) }}">Delete Item</a>
       </div>
     {% endif %}

   </div>
 </div>
 <div class="col-sm-4">
 </div>
</div>




{% endblock %}
